<footer class="clearfix">
  <div class="pull-right">
    Crafted with <i class="fa fa-heart text-danger"></i> by
    <a href="http://goo.gl/vNS3I" target="_blank">pixelcave</a>
  </div>
  <div class="pull-left">
    <span id="year-copy"></span> &copy; <a href="http://goo.gl/TDOSuC" target="_blank">ProUI</a>
  </div>
</footer>
<!-- END Footer -->