<div class="preloader themed-background">
  <h1 class="push-top-bottom text-light text-center"><strong>Pro</strong>UI</h1>
  <div class="inner">
    <h3 class="text-light visible-lt-ie9 visible-lt-ie10"><strong>Loading..</strong></h3>
    <div class="preloader-spinner hidden-lt-ie9 hidden-lt-ie10"></div>
  </div>
</div>