<!-- Alternative Sidebar -->
<div id="sidebar-alt">
  <!-- Wrapper for scrolling functionality -->
  <div id="sidebar-alt-scroll">
    <!-- Sidebar Content -->
    <div class="sidebar-content">
      <!-- Sidebar Section -->
      <a href="index.html" class="sidebar-title">
        <i class="gi gi-cogwheel pull-right"></i> <strong>Header</strong>
      </a>
      <div class="sidebar-section">Section content..</div>
      <!-- END Sidebar Section -->
    </div>
    <!-- END Sidebar Content -->
  </div>
  <!-- END Wrapper for scrolling functionality -->
</div>
<!-- END Alternative Sidebar -->