<!DOCTYPE html>
<!--[if IE 9]>
<html class="no-js lt-ie10" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <title>ProUI - Responsive Bootstrap Admin Template</title>
  <%= csrf_meta_tags %>


  <meta name="description" content="ProUI is a Responsive Bootstrap Admin Template created by pixelcave and published on Themeforest.">
  <meta name="author" content="pixelcave">
  <meta name="robots" content="noindex, nofollow">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">
  <%= stylesheet_link_tag 'assets/freya/application', media: 'all', 'data-turbolinks-track': 'reload' %>

  <!-- Icons -->
  <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
  <link rel="shortcut icon" href="img/favicon.png">
  <link rel="apple-touch-icon" href="img/icon57.png" sizes="57x57">
  <link rel="apple-touch-icon" href="img/icon72.png" sizes="72x72">
  <link rel="apple-touch-icon" href="img/icon76.png" sizes="76x76">
  <link rel="apple-touch-icon" href="img/icon114.png" sizes="114x114">
  <link rel="apple-touch-icon" href="img/icon120.png" sizes="120x120">
  <link rel="apple-touch-icon" href="img/icon144.png" sizes="144x144">
  <link rel="apple-touch-icon" href="img/icon152.png" sizes="152x152">
  <link rel="apple-touch-icon" href="img/icon180.png" sizes="180x180">
  <!-- END Icons -->
</head>
<body>
<div id="page-wrapper">
  <%= render 'freya/layouts/preload' %>
  <div id="page-container" class="sidebar-partial sidebar-visible-lg sidebar-no-animations">
    <%= render 'freya/layouts/sidebar_alt' %>
    <%= render 'freya/layouts/sidebar' %>
    <div id="main-container">
      <%= render 'freya/layouts/header' %>
      <%= render 'freya/layouts/page_content' %>
      <%= render 'freya/layouts/footer' %>
    </div>
  </div>
</div>
<a href="#" id="to-top"><i class="fa fa-angle-double-up"></i></a>
<%= javascript_include_tag 'freya/application', 'data-turbolinks-track': 'reload' %>
</body>
</html>
